
.cart-hover {
    box-shadow: 5px 5px 30px gray;
    border-radius: 10px;
}

.dis{
    font-size: 50px;
}

.img{
    height: 300px;
    padding-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.enroll-btn{
    margin-bottom: 20px;
}
