.card-1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    margin: 0 50px;
}
.card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
    border: none;

}
/* .card {
    box-shadow: 10px 10px 10px;
}
.site-container{
} */