.banner {
    background-image: url("../../images/header-cover-2.jpg");
    height: 780px;
    width: 100%;
    
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
  }

  .header{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .logo-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid tomato;
  }
  .title {
    color: white;
    font-weight: bold;
    font-size: 59px;
  }
  .welcome{
    color: lightyellow;
  }
  
.menu-color .menu{
  text-decoration: none;
  color: white;
  margin-right: 20px;
    padding: 5px;
    font-size: 22px;
}

  